*{
    padding: 0%;
    margin: 0%;
    background-color: #eff1f5;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: grid;
    grid-template-columns: 240px 1fr;
    height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    background-color: #1992d4
    color white
}   

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 12px;
    margin-bottom: 30px;
}     
 
.sidebar ul {
    list-style: none;
    margin-top: 20px;
}    

.sidebar li {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 12px 16px;
    cursor: pointer;
}     

.header {
    background-color:  #eff1f5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);;
} 

.header input {
    width: 250px;
    padding: 10px;
}

.profile {
    display: flex;
    align-items: center;
    align-self: self-end;
    gap: 15px;
}

.Actions button {
   padding: 8px 16px;
   border: none;
   background-color: #1992d4;
   color: white;
   border-radius: 20px;
   cursor: pointer;
}

img {
    width: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.contents{
   display: grid;
   grid-template-columns: 3fr 1fr;
   gap: 20px;
   padding: 20px;
}

.project h3 {
    margin-bottom: 30px;
}

.project {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.cards {
    background-color: #eff1f5;
    padding: 20px;
    border-left: 6px solid rgb(20, 17, 9);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.sides {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.box {
    background-color: #eff1f5;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.box p{
    margin-bottom: 10px;
}


